@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
html{
    font-family: "Poppins";
    font-weight: 500;
    
}

.products-container {
width: 100%;
max-width: 800px;
margin-left: 15px;
margin-right: 15px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.product-wrapper {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
}

.product-image {
    width: 100%;
    height: futo;
    margin-bottom: 20px;
}

.product-name {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-price-wrapper{
    margin-bottom: 20px;
    
}
.product-price-line{
    display: flex;
    flex-direction: row;
}
.product-price {
    font-size: 14px;
    display: inline-block;
    padding-right: 15px;
    margin: 0;
}

.product-price-old {
    font-size: 14px;
text-decoration: line-through;
color: #cccccc;
margin-bottom: 0;
}
.button {
    background: linear-gradient(
        90deg
        , #ffba00 0%, #ff6c00 100%);
    border-radius: 5px;
    line-height: 38px;
    padding: 0 38px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-weight: 500;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button:before {
    position: absolute;
    left: -145px;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    opacity: 0;
    transform: skew(40deg);
    transition: all 0.3s ease 0s;
}
.button:hover:before {
    left: 110%;
    opacity: .3;
}
.filters-wrapper {
    margin-left: 30px;
    padding-top: 30px;
    display: block;
    }
#category-filter {
    margin-left: 20px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.product-page-wrapper {
    display: flex;
    max-width: 1024px;
    flex-direction: row;
    padding: 30px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.product-page-image {
    flex: 1;
}
.product-page-detail {
    flex: 1;
    font-weight: 300;
    padding-left: 30px;
}